#login {
  min-width: 350px;
  min-height: 280px;
}

#body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.inputError {
  color: rgb(155, 0, 0);
  display: none;
}

html, body, #chat {
  background-color:rgb(245,245,245);
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#menu {
  height: 100%;
  background-color: #2AADF5;
}

#messages {
  height: 90%;
}

#writer {
  height: 10%;
}

#launch {
  cursor:pointer;
}
